@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  [data-theme="dark"] {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--primary));
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary-focus));
}

.container {
  @apply px-4 mx-auto max-w-7xl;
}

@layer components {
  .btn {
    @apply rounded-lg;
  }
}
